# Assignment 1

Contributors: 


Guusje Boomgaard: 2618603

Belle Bruinsma: 2540661

Lea van den Brink: 10909419

### Importing Packages

In [609]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
from itertools import islice

### Opening file and putting in a dataframe

We use dataframes and pandas.

In [610]:
df = pd.read_csv('./data/ODI-2018.csv')
df.drop(df.index[0], inplace = True)

### Making the column names shorter

To make it more clean.

In [611]:
df.columns = ['Timestamp', 'Programme', 'MachineLearning', 'InformationRetrieval', 'Statistics', 'Databases', 'Gender', 'Chocolate', 'Birthday', 'Neighbours', 'StandUp', 'Competition', 'Number', 'BedTime', 'GoodDay1', 'GoodDay2']
df.head()

,Timestamp,Programme,MachineLearning,InformationRetrieval,Statistics,Databases,Gender,Chocolate,Birthday,Neighbours,StandUp,Competition,Number,BedTime,GoodDay1,GoodDay2
1,4/5/2018 11:22:56,Duisenberg Quantitative Risk Management,no,0,mu,nee,male,neither,10/12/1994,49000,no,0.05,7,1,Productive,Good sleep
2,4/5/2018 11:23:04,Computer Science,no,0,unknown,ja,male,I have no idea what you are talking about,06-08-1993,100,yes,The formmer,394749,1 a m,got a 8.5,got 2 8.5s
3,4/5/2018 11:23:06,Business Analytics,yes,1,sigma,ja,male,neither,25 december 92,5,no,Not enough,6,23,Food,Sport
4,4/5/2018 11:23:50,BA,yes,1,mu,ja,male,I have no idea what you are talking about,01-02-1995,2,no,0,8,0.3,-,-
5,4/5/2018 11:23:59,Master Computer Science: Big Data Engineering,no,0,sigma,ja,male,I have no idea what you are talking about,09.01.1994,6,no,0,8,0:00,sleep,beer

### Replacing 'yes' and 'no' and 'ja' and 'nee' with 1 and 0

Short explanation

In [612]:
df['MachineLearning'].replace(['no', 'yes'], [0, 1] , inplace = True)
df['StandUp'].replace(['no', 'yes'],[0 , 1] , inplace = True)
df['Databases'].replace(['nee', 'ja'],[0 , 1] , inplace = True)
df['Statistics'].replace(['mu', 'sigma', 'unknown'],[1 , 0, 99] , inplace = True)

In [613]:
df.head()

,Timestamp,Programme,MachineLearning,InformationRetrieval,Statistics,Databases,Gender,Chocolate,Birthday,Neighbours,StandUp,Competition,Number,BedTime,GoodDay1,GoodDay2
1,4/5/2018 11:22:56,Duisenberg Quantitative Risk Management,0,0,1,0,male,neither,10/12/1994,49000,0,0.05,7,1,Productive,Good sleep
2,4/5/2018 11:23:04,Computer Science,0,0,99,1,male,I have no idea what you are talking about,06-08-1993,100,1,The formmer,394749,1 a m,got a 8.5,got 2 8.5s
3,4/5/2018 11:23:06,Business Analytics,1,1,0,1,male,neither,25 december 92,5,0,Not enough,6,23,Food,Sport
4,4/5/2018 11:23:50,BA,1,1,1,1,male,I have no idea what you are talking about,01-02-1995,2,0,0,8,0.3,-,-
5,4/5/2018 11:23:59,Master Computer Science: Big Data Engineering,0,0,0,1,male,I have no idea what you are talking about,09.01.1994,6,0,0,8,0:00,sleep,beer

### Replacing 'Female' and 'Male' with 'F' and 'M'

In [614]:
df['Gender'].replace(['female', 'male', 'unknown'], ['F', 'M', 'O'] , inplace = True)
df['Gender'].value_counts(dropna=False)
#gender unknown? wat doen we daarmee...(= nu 'O' onzijdig :p)

M    150
F     63
O      4
Name: Gender, dtype: int64

### Replacing all programmes with its abbreviation

'Computer Science' is replaced with 'CS'.

In [615]:
#Artificial Intelligence 
df['Programme'].replace(['Ai',],['AI'] , inplace = True)
df['Programme'].replace(['Artificial Intelligence (Socially Aware Computing)'],['AI'] , inplace = True)
df['Programme'].replace(['AI (VU version)',],['AI'] , inplace = True)
df['Programme'].replace(['AI premaster',],['AI'] , inplace = True)
df['Programme'].replace(['AI VU ',],['AI'] , inplace = True)
df['Programme'].replace(['Artificial Intelligence',],['AI'] , inplace = True)
df['Programme'].replace(['Msc Artificial intelligence',],['AI'] , inplace = True)
df['Programme'].replace(['AI (Cognitive Sciences)',],['AI'] , inplace = True)
df['Programme'].replace(['MSc Artificial Intelligence',],['AI'] , inplace = True)
df['Programme'].replace(['A. I. ', 'MSc AI and MSc CLS', 'Exchange'],['AI', 'AI', 'AI'] , inplace = True)

#Bioinformatics and Systems Biology (BSB)
df['Programme'].replace(['MSC Bioinformatics', 'Bioinformatics master', 'MA Bioinformatics'],['BSB', 'BSB', 'BSB'],inplace = True)
df['Programme'].replace(['Bioinformatics ','Bioinformatics and Systems Biology', 'Bioinformatics and systems biology'],['BSB', 'BSB', 'BSB'],inplace = True)
df['Programme'].replace(['bioinformatics', 'Bioinformatics and Systems biology', 'Bioinformatics & System Biology'],['BSB', 'BSB', 'BSB'],inplace = True)
df['Programme'].replace(['Msc. Bioinformatics and Systems Biology', 'Bioinformatcis', 'Bioinformatics & Systems Biology'],['BSB', 'BSB', 'BSB'],inplace = True)
df['Programme'].replace(['System Biology and Bioinformatics', 'Bioinformatics & Systems biology', 'MSc Bioinformatics and Systems Biology'],['BSB', 'BSB', 'BSB'],inplace = True)
df['Programme'].replace(['Master Bionformatics and Systems Biology'],['BSB'],inplace = True)

#Business Analytics
df['Programme'].replace(['Business Analytics', 'Business Analytics ', 'Business Analytics/ operations research'],['BA', 'BA', 'BA'],inplace = True)
df['Programme'].replace(['Business analytics', 'business analytics', 'Master Business Analytics '],['BA', 'BA', 'BA'],inplace = True)

#Computer Science (CS)
df['Programme'].replace(['Computer Science', 'Computer Science: Big Data Engineering', 'Master Computer Science: Big Data Engineering'],['CS', 'CS', 'CS'],inplace = True)
df['Programme'].replace(['Big Data Engineering', 'Big data engineering', 'Master Computer Science: Big Data Engineering'],['CS', 'CS', 'CS'],inplace = True)
df['Programme'].replace(['Masters Computer Science(big data engineering)'],['CS'],inplace = True)

#Computational Science (CtS)
df['Programme'].replace(['Computational Science', 'Computational science','Computational Science (JD)'],['CtS', 'CtS', 'CtS'],inplace = True)
df['Programme'].replace(['MSc Computational Science (Joint Degree)', 'Computational Science '],['CtS', 'CtS'],inplace = True)
df['Programme'].replace(['Msc Computational science', 'Cls', 'CSL', 'CLS'],['CtS', 'CtS', 'CtS', 'CtS'],inplace = True)

#Economics (EC)
df['Programme'].replace(['Economics'],['EC'],inplace = True)

#Econometrics (EcN)
df['Programme'].replace(['Econometrics', 'Econometrics ', 'Econometrics & Operations Research'],['EcN', 'EcN', 'EcN'],inplace = True)
df['Programme'].replace(['M Financial Economtrics', 'MSc Econometrics', 'Master Econometrics & Operations Research'],['EcN','EcN', 'EcN'],inplace = True)

# Finance (Fi)
df['Programme'].replace(['Finance'],['Fi'],inplace = True)

#Human Movement Science (HMS)
df['Programme'].replace(['Master Human Movement Science'],['HMS'],inplace = True)

#Mathematics (Mth)
df['Programme'].replace(['Mathematics Exchange', 'Mathematics'],['Mth', 'Mth'],inplace = True)

#Physics (PhS)
df['Programme'].replace(['Physics'],['PhS'],inplace = True)

#Quantitative Risk Management
df['Programme'].replace(['Quantitative Risk Management'],['QRM'],inplace = True)
df['Programme'].replace(['Duisenberg Honors Program Quantitative Risk Managament'],['QRM'],inplace = True)
df['Programme'].replace(['Quantitative risk management'],['QRM'],inplace = True)
df['Programme'].replace(['Duisenberg Quantitative Risk Management'],['QRM'],inplace = True)
df['Programme'].replace(['Finance DHP QRM'],['QRM'],inplace = True)


# Overigen:...
# Drug discovery and safety
# PhD student 
# PhD student at FGB
# 21-05-1995
# ..  wat is OR?

df['Programme'].value_counts(dropna=False)

AI                                             52
BA                                             43
CtS                                            22
BSB                                            21
CS                                             19
EcN                                            14
QRM                                            10
EOR                                             4
Bioinformatics                                  3
OR                                              2
MS                                              2
Mth                                             2
Bioinformatics and Systems Biology              2
PhD                                             2
EC                                              1
Fi                                              1
MPA                                             1
MSc Computer Science                            1
Drug discovery and safety                       1
Artificial intelligence                         1
PhS                                             1
Comoputational science                          1
HMS                                             1
cs                                              1
MSc Bioinformatics                              1
PhD student at FGB                              1
PhD student                                     1
Data Mining Techniques                          1
21-05-1995                                      1
B Science, Business & Innovation                1
Business Analytics Msc                          1
Bioinformatics and SysBio                       1
Master Econometrics and operations research     1
Name: Programme, dtype: int64

In [616]:
df

,Timestamp,Programme,MachineLearning,InformationRetrieval,Statistics,Databases,Gender,Chocolate,Birthday,Neighbours,StandUp,Competition,Number,BedTime,GoodDay1,GoodDay2
1,4/5/2018 11:22:56,QRM,0,0,1,0,M,neither,10/12/1994,49000,0,0.05,7,1,Productive,Good sleep
2,4/5/2018 11:23:04,CS,0,0,99,1,M,I have no idea what you are talking about,06-08-1993,100,1,The formmer,394749,1 a m,got a 8.5,got 2 8.5s
3,4/5/2018 11:23:06,BA,1,1,0,1,M,neither,25 december 92,5,0,Not enough,6,23,Food,Sport
4,4/5/2018 11:23:50,BA,1,1,1,1,M,I have no idea what you are talking about,01-02-1995,2,0,0,8,0.3,-,-
5,4/5/2018 11:23:59,CS,0,0,0,1,M,I have no idea what you are talking about,09.01.1994,6,0,0,8,0:00,sleep,beer
6,4/5/2018 11:24:34,Drug discovery and safety,0,0,1,0,M,fat,17-08-1994,4,0,100,No,09:00,Chocolate,Doing nothing
7,4/5/2018 11:25:25,CS,1,1,1,0,M,neither,27-09-1993,5,0,£1,6739,2300,Chocolate,More chocolate
8,4/5/2018 11:25:25,CtS,0,0,1,1,M,fat,14 May 1994,5,1,0.25,3,12,Sunshine,Friends
9,4/5/2018 11:25:36,EcN,0,0,1,0,M,neither,11-04-1931,2,0,"0,25 pond",78952097,1 AM,Sun,Rain
10,4/5/2018 11:25:51,BSB,1,1,99,1,M,slim,19/08/1993,7,0,0.3,5,2:00,Free time,More free time
11,4/5/2018 11:25:54,EcN,0,0,1,0,F,I have no idea what you are talking about,16-05-1990,8,1,0.003,8,00:00,Good coffee,Sunshine
12,4/5/2018 11:26:10,CS,0,0,1,1,F,slim,30/03/1995,6,0,1,42,23.45,Cats,Coffee
13,4/5/2018 11:26:23,BSB,1,0,1,0,F,fat,October 16,8,0,2,37,0.3,Sunny weather,Good food
14,4/5/2018 11:26:30,AI,1,1,0,1,M,I have no idea what you are talking about,this year,6,0,more,7727528,01:00,Good grades,All grades
15,4/5/2018 11:26:39,EOR,1,0,1,0,M,I have no idea what you are talking about,02-04,2,0,99,187,8,Food,Wine
16,4/5/2018 11:26:40,Bioinformatics,0,0,1,0,F,fat,05-02-1994,1,0,0.25,7,23:30,Pancakes for breakfast,No wind
17,4/5/2018 11:26:43,BA,1,1,1,1,F,I have no idea what you are talking about,22-01,1,1,100,7,01:30,Sleep,Netflix
18,4/5/2018 11:26:44,BA,1,1,1,1,M,fat,7-10-1994,3,0,80,6,1:00,Sleep,Relax
19,4/5/2018 11:26:47,AI,1,1,1,1,F,fat,23-02-1995,2,0,"0,50",34,23:30,Good sleep,Go to the gym
20,4/5/2018 11:26:54,CS,0,0,1,1,M,neither,24-03-1994,1,0,1,7,I didn't,Pizza,Beer
21,4/5/2018 11:27:04,CtS,0,0,1,0,M,I have no idea what you are talking about,1996-01-04,7,unknown,100/N,6283949577437363939374648394747483927,23:59,Pancakes,Pizza
22,4/5/2018 11:27:06,CS,1,0,1,1,M,I have no idea what you are talking about,07-12-1995,2,0,£200,2,23:20,Good foodd,Lot of foodd
23,4/5/2018 11:27:06,AI,1,1,1,0,M,I have no idea what you are talking about,04.11.1992,1,0,70,2,2 a.m.,sex,good food
24,4/5/2018 11:27:08,AI,0,0,1,0,F,I have no idea what you are talking about,05-11-1993,5,0,",50",6,23:30,Puppies,sunshine
25,4/5/2018 11:27:10,CtS,0,0,1,0,F,neither,3 november,8,0,0.25,7,23.3,Nice grades,Good food
26,4/5/2018 11:27:11,MSc Computer Science,0,0,1,1,M,fat,21/09/1994,8,unknown,10,4,1:30,Coffee,Good night sleep
27,4/5/2018 11:27:12,BA,1,1,1,0,M,slim,19-10,2,0,110,Hoi,23:30,Cheese,Beer
28,4/5/2018 11:27:12,BA,1,1,1,0,F,fat,14-04,2,0,10,9,22.2,Coffee,Food
29,4/5/2018 11:27:13,AI,1,1,1,1,M,fat,23-12,5,0,1234,4,23:30,Food,Coffee
30,4/5/2018 11:27:14,EcN,0,0,1,0,F,fat,29-10-1991,1,0,1/4,3,01:20,Good food,Lovely people
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,4/5/2018 11:28:09,Artificial intelligence,0,unknown,1,unknown,F,neither,25-08-1996,0,0,1euro,3,0,Food,Not having Anything to do
189,4/5/2018 11:28:09,BA,1,0,1,0,M,fat,07/07/1992,3,0,5,4,1:30,Sleep,Sports
190,4/5/2018 11:28:10,CS,0,1,1,1,M,I have no idea what you are talking about,2/4/1995,6,0,100/n,9,12,Cloudy skies,Memes
191,4/5/2018 11:28:11,CtS,1,0,1,0,M,neither,17-11,3,0,1,10,1:00,afternoon lectures,weekend
192,4/5/2018 11:28:12,BA,1,0,1,0,M,fat,01-09-1994,3,1,200,1,00:00,Food,No college
193,4/5/2018 11:28:14,BA,1,1,1,1,F,fat,23-02-1995,5,0,30,9,23:30,Getting a good grade,Sleep well
194,4/5/2018 11:28:15,EcN,0,0,1,unknown,M,fat,02-09-1993,1,0,0.25,2,00:30,nice weather,fun time
195,4/5/2018 11:28:15,CtS,1,0,1,0,M,I have no idea what you are talking about,07-06-1993,4,1,"0,33",42,23:15,No lecture at 9,No lectures
196,4/5/2018 11:28:15,CS,1,1,1,1,M,fat,01-12,5,0,0.4,69,2:30,Morning sex,Going to the gym
197,4/5/2018 11:28:18,BA,1,0,1,1,F,neither,19-03-1993,4,0,100/300,9,00:00,Good sleep,Free time
198,4/5/2018 11:28:19,BSB,1,0,0,0,F,neither,?,4/8,0,5,8,22:00,good weather,Achievement
199,4/5/2018 11:28:20,Mth,0,0,1,0,F,I have no idea what you are talking about,24-09-1996,7,0,5,7,23:00,A good sleep,Be around nice people
200,4/5/2018 11:28:18,BSB,0,0,1,1,M,I have no idea what you are talking about,1996-05-02,7,0,3,3,12,Good night rest,No compile errors on first try
201,4/5/2018 11:28:21,OR,0,0,1,0,M,neither,1995,3,0,10,ACHT,0,Sports,Chocolate
202,4/5/2018 11:28:23,CtS,1,unknown,1,1,M,neither,1990,1,0,80,4,300,productivity,no pain
203,4/5/2018 11:28:25,BSB,0,0,1,0,M,fat,26-11-1993,1,0,5,382763,23,Good sleep,Cheese
204,4/5/2018 11:28:26,AI,1,0,1,1,M,fat,18-08-1994,1,0,20,7,23:00,Coffee,Music
205,4/5/2018 11:28:29,AI,0,0,1,0,M,fat,30-12-1990,5,0,50,6,3am,Good sleep,Sports
206,4/5/2018 11:28:30,CtS,1,0,0,0,M,neither,August 7th,2,0,0,4,4:30,1,2
207,4/5/2018 11:28:32,BA,1,1,0,1,M,unknown,05/04/2000,400,unknown,1E+24,7,04:00,Guest lecture by Tupac,0 heart attacks
208,4/5/2018 11:28:42,CtS,0,0,0,0,M,slim,25-12-1991,7,0,0.34,7,02:00,Temptation Island,Sun
209,4/5/2018 11:28:56,QRM,0,0,1,1,M,I have no idea what you are talking about,18 March,1,0,5,3,0,"Sunshine, structure","Following 4 courses at the same time, rain"
210,4/5/2018 11:29:04,BSB,1,0,1,0,F,neither,24-10-1993,1,0,£.25,5,1:05,A good book,Nice people
211,4/5/2018 11:29:27,AI,1,1,1,1,M,I have no idea what you are talking about,9/02/93,6,0,50,9,3 3,Hanging out,Sex
212,4/5/2018 11:30:36,AI,0,0,1,0,M,slim,09-11,2,unknown,0.50 euros,6123,23.3,food,friends
213,4/5/2018 11:38:01,EcN,0,0,1,0,M,fat,22/11/1991,3,0,2,2,2 am,Freedom,Money
214,4/5/2018 12:10:39,AI,0,0,99,unknown,F,neither,20-05-1993,7,unknown,0,88,22.47,Sun,Activities
215,4/5/2018 13:15:17,AI,1,1,1,0,M,fat,30-07-1992,8,0,11,2,04:00,The foresight of a night out with friends,The taste of that first sip of cold beer on a ...
216,4/5/2018 15:09:53,PhS,0,1,1,0,M,neither,04-12-1991,5,0,about 0.4£ for N=250,10,01:30,Good company,Well rested and structured
217,4/5/2018 18:04:54,BA,1,1,1,1,M,fat,7-10-1994,3,0,80,6,1:00,Sleep,Relax

### Making the birthdates consistent

If no birth year is present use mean.
If no birth day is present etc.

In [617]:
# in order to handle missing value, we raplaced the missing value with NaT and filled all NaT with the 
# median birthay year, day 1 of Januari

df['Birthday'] = pd.to_datetime(df['Birthday'], errors = 'coerce')

year = []
year = df['Birthday'].dt.year
median = int(year.median())

for i in df['Birthday']:
    if pd.isnull(i):
        i = '{}-{}-{}'.format(median, '01', '01')
        i == pd.to_datetime(i)
        #df['Birthday'][i].set_index(df['Birthday'][i], inplace=True)
   
#print(df['Birthday'])

### Do something with 'unknown' and '-'

In column 'Stand Up?' are one or more 'unknown'. These are replaced with

In [618]:
#Unknown = df.loc[df.Statistics == 'unknown', 'Statistics'].count()
#Unknown

In [619]:
df.replace(['unknown', '-'],[np.nan , np.nan], inplace = True)

In [620]:
df.dropna(inplace = True)

In [621]:
df

,Timestamp,Programme,MachineLearning,InformationRetrieval,Statistics,Databases,Gender,Chocolate,Birthday,Neighbours,StandUp,Competition,Number,BedTime,GoodDay1,GoodDay2
1,4/5/2018 11:22:56,QRM,0.0,0,1,0.0,M,neither,1994-10-12,49000,0.0,0.05,7,1,Productive,Good sleep
2,4/5/2018 11:23:04,CS,0.0,0,99,1.0,M,I have no idea what you are talking about,1993-06-08,100,1.0,The formmer,394749,1 a m,got a 8.5,got 2 8.5s
3,4/5/2018 11:23:06,BA,1.0,1,0,1.0,M,neither,1992-12-25,5,0.0,Not enough,6,23,Food,Sport
5,4/5/2018 11:23:59,CS,0.0,0,0,1.0,M,I have no idea what you are talking about,1994-09-01,6,0.0,0,8,0:00,sleep,beer
6,4/5/2018 11:24:34,Drug discovery and safety,0.0,0,1,0.0,M,fat,1994-08-17,4,0.0,100,No,09:00,Chocolate,Doing nothing
7,4/5/2018 11:25:25,CS,1.0,1,1,0.0,M,neither,1993-09-27,5,0.0,£1,6739,2300,Chocolate,More chocolate
8,4/5/2018 11:25:25,CtS,0.0,0,1,1.0,M,fat,1994-05-14,5,1.0,0.25,3,12,Sunshine,Friends
9,4/5/2018 11:25:36,EcN,0.0,0,1,0.0,M,neither,1931-11-04,2,0.0,"0,25 pond",78952097,1 AM,Sun,Rain
10,4/5/2018 11:25:51,BSB,1.0,1,99,1.0,M,slim,1993-08-19,7,0.0,0.3,5,2:00,Free time,More free time
11,4/5/2018 11:25:54,EcN,0.0,0,1,0.0,F,I have no idea what you are talking about,1990-05-16,8,1.0,0.003,8,00:00,Good coffee,Sunshine
12,4/5/2018 11:26:10,CS,0.0,0,1,1.0,F,slim,1995-03-30,6,0.0,1,42,23.45,Cats,Coffee
16,4/5/2018 11:26:40,Bioinformatics,0.0,0,1,0.0,F,fat,1994-05-02,1,0.0,0.25,7,23:30,Pancakes for breakfast,No wind
18,4/5/2018 11:26:44,BA,1.0,1,1,1.0,M,fat,1994-07-10,3,0.0,80,6,1:00,Sleep,Relax
19,4/5/2018 11:26:47,AI,1.0,1,1,1.0,F,fat,1995-02-23,2,0.0,"0,50",34,23:30,Good sleep,Go to the gym
20,4/5/2018 11:26:54,CS,0.0,0,1,1.0,M,neither,1994-03-24,1,0.0,1,7,I didn't,Pizza,Beer
22,4/5/2018 11:27:06,CS,1.0,0,1,1.0,M,I have no idea what you are talking about,1995-07-12,2,0.0,£200,2,23:20,Good foodd,Lot of foodd
23,4/5/2018 11:27:06,AI,1.0,1,1,0.0,M,I have no idea what you are talking about,1992-04-11,1,0.0,70,2,2 a.m.,sex,good food
24,4/5/2018 11:27:08,AI,0.0,0,1,0.0,F,I have no idea what you are talking about,1993-05-11,5,0.0,",50",6,23:30,Puppies,sunshine
30,4/5/2018 11:27:14,EcN,0.0,0,1,0.0,F,fat,1991-10-29,1,0.0,1/4,3,01:20,Good food,Lovely people
31,4/5/2018 11:27:14,CtS,0.0,0,1,1.0,M,fat,1991-07-11,7,0.0,110,9293746289201,23:55,Sunshine,Beer
35,4/5/2018 11:27:18,21-05-1995,0.0,0,1,0.0,M,neither,1995-05-21,7,0.0,0.25€,19,Not,Good food,No alarm
36,4/5/2018 11:27:18,CS,1.0,1,1,1.0,M,neither,1992-11-09,1,0.0,1,9,1:00,Sun,Freedom
37,4/5/2018 11:27:18,BA,1.0,1,1,1.0,M,fat,1995-01-01,0,0.0,0,1,1:00,Good food,Good sex
38,4/5/2018 11:27:18,AI,0.0,1,1,1.0,F,fat,1995-10-01,5,0.0,100,2,01:00,good food,enough sleep
42,4/5/2018 11:27:20,AI,1.0,1,1,1.0,M,I have no idea what you are talking about,1993-06-13,420,0.0,99.99,9,01:00,Fun,Relaxation
43,4/5/2018 11:27:21,AI,1.0,1,1,0.0,M,I have no idea what you are talking about,1996-01-29,2,0.0,6,5,2am,Jezus man,Te diep
45,4/5/2018 11:27:21,AI,1.0,0,1,0.0,M,neither,1994-05-15,5,0.0,10,32,12.4,Food,Sports
46,4/5/2018 11:27:21,BA,1.0,1,1,1.0,M,I have no idea what you are talking about,1994-12-27,400,0.0,7,5,23:00,beer,sex
47,4/5/2018 11:27:22,BA,1.0,1,1,1.0,M,fat,1995-10-08,400,0.0,0.25,4,23:55,Beer,Good food
48,4/5/2018 11:27:23,BA,1.0,1,1,1.0,F,fat,1995-05-25,1,0.0,50,8,23:00,Sun,Free time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,4/5/2018 11:28:00,EC,0.0,0,1,0.0,F,neither,1995-03-28,2,0.0,0.25,7,23:00,A,B
173,4/5/2018 11:28:00,CtS,0.0,0,1,0.0,M,neither,1995-01-27,8,0.0,52.6,4,10.30 pm,Free cheese,Good coffee
175,4/5/2018 11:28:01,AI,1.0,0,1,1.0,M,neither,1994-09-07,1,0.0,1,10,12,Having slept well,Getting work done
177,4/5/2018 11:28:02,CtS,1.0,1,1,1.0,M,neither,1996-10-25,1,0.0,101,4,3:20,Pizza,Seeing you *kiss*
178,4/5/2018 11:28:02,AI,1.0,1,1,1.0,M,neither,1994-11-02,7,0.0,1,3,03:00,Beer,Exercise
179,4/5/2018 11:28:03,BA,0.0,0,1,0.0,M,I have no idea what you are talking about,1995-08-15,2,0.0,101,2,23:15,Holiday,Food
180,4/5/2018 11:28:03,QRM,0.0,0,1,0.0,M,neither,1996-12-09,1,0.0,"£0,5",9,01:30,No time series assignment,.
181,4/5/2018 11:28:03,CS,0.0,1,1,0.0,M,fat,1992-11-08,2,0.0,1,8,1,good food,new experiences
183,4/5/2018 11:28:04,BSB,1.0,0,1,0.0,F,I have no idea what you are talking about,1993-06-13,4,0.0,5,3,2:00,Not having to get up early,sushi
185,4/5/2018 11:28:05,AI,0.0,0,1,0.0,M,neither,1993-12-02,3,0.0,3,7,2 AM,No alarm in the morning,Good and sunny weather
187,4/5/2018 11:28:08,PhD,0.0,0,1,0.0,M,neither,1995-01-03,2,0.0,0.25,7,23:30,Nice food,Good sleep
189,4/5/2018 11:28:09,BA,1.0,0,1,0.0,M,fat,1992-07-07,3,0.0,5,4,1:30,Sleep,Sports
190,4/5/2018 11:28:10,CS,0.0,1,1,1.0,M,I have no idea what you are talking about,1995-02-04,6,0.0,100/n,9,12,Cloudy skies,Memes
192,4/5/2018 11:28:12,BA,1.0,0,1,0.0,M,fat,1994-01-09,3,1.0,200,1,00:00,Food,No college
193,4/5/2018 11:28:14,BA,1.0,1,1,1.0,F,fat,1995-02-23,5,0.0,30,9,23:30,Getting a good grade,Sleep well
195,4/5/2018 11:28:15,CtS,1.0,0,1,0.0,M,I have no idea what you are talking about,1993-07-06,4,1.0,"0,33",42,23:15,No lecture at 9,No lectures
197,4/5/2018 11:28:18,BA,1.0,0,1,1.0,F,neither,1993-03-19,4,0.0,100/300,9,00:00,Good sleep,Free time
199,4/5/2018 11:28:20,Mth,0.0,0,1,0.0,F,I have no idea what you are talking about,1996-09-24,7,0.0,5,7,23:00,A good sleep,Be around nice people
200,4/5/2018 11:28:18,BSB,0.0,0,1,1.0,M,I have no idea what you are talking about,1996-05-02,7,0.0,3,3,12,Good night rest,No compile errors on first try
201,4/5/2018 11:28:21,OR,0.0,0,1,0.0,M,neither,1995-01-01,3,0.0,10,ACHT,0,Sports,Chocolate
203,4/5/2018 11:28:25,BSB,0.0,0,1,0.0,M,fat,1993-11-26,1,0.0,5,382763,23,Good sleep,Cheese
204,4/5/2018 11:28:26,AI,1.0,0,1,1.0,M,fat,1994-08-18,1,0.0,20,7,23:00,Coffee,Music
205,4/5/2018 11:28:29,AI,0.0,0,1,0.0,M,fat,1990-12-30,5,0.0,50,6,3am,Good sleep,Sports
208,4/5/2018 11:28:42,CtS,0.0,0,0,0.0,M,slim,1991-12-25,7,0.0,0.34,7,02:00,Temptation Island,Sun
210,4/5/2018 11:29:04,BSB,1.0,0,1,0.0,F,neither,1993-10-24,1,0.0,£.25,5,1:05,A good book,Nice people
211,4/5/2018 11:29:27,AI,1.0,1,1,1.0,M,I have no idea what you are talking about,1993-09-02,6,0.0,50,9,3 3,Hanging out,Sex
213,4/5/2018 11:38:01,EcN,0.0,0,1,0.0,M,fat,1991-11-22,3,0.0,2,2,2 am,Freedom,Money
215,4/5/2018 13:15:17,AI,1.0,1,1,0.0,M,fat,1992-07-30,8,0.0,11,2,04:00,The foresight of a night out with friends,The taste of that first sip of cold beer on a ...
216,4/5/2018 15:09:53,PhS,0.0,1,1,0.0,M,neither,1991-04-12,5,0.0,about 0.4£ for N=250,10,01:30,Good company,Well rested and structured
217,4/5/2018 18:04:54,BA,1.0,1,1,1.0,M,fat,1994-07-10,3,0.0,80,6,1:00,Sleep,Relax

In [622]:
#df['Chocolate'].value_counts(dropna=False)
df['Chocolate'].replace(['fat', 'neither', 'I have no idea what you are talking about', 'slim'], ['Fat', 'Neither', 'No Idea', 'Slim'] , inplace = True)
df

,Timestamp,Programme,MachineLearning,InformationRetrieval,Statistics,Databases,Gender,Chocolate,Birthday,Neighbours,StandUp,Competition,Number,BedTime,GoodDay1,GoodDay2
1,4/5/2018 11:22:56,QRM,0.0,0,1,0.0,M,Neither,1994-10-12,49000,0.0,0.05,7,1,Productive,Good sleep
2,4/5/2018 11:23:04,CS,0.0,0,99,1.0,M,No Idea,1993-06-08,100,1.0,The formmer,394749,1 a m,got a 8.5,got 2 8.5s
3,4/5/2018 11:23:06,BA,1.0,1,0,1.0,M,Neither,1992-12-25,5,0.0,Not enough,6,23,Food,Sport
5,4/5/2018 11:23:59,CS,0.0,0,0,1.0,M,No Idea,1994-09-01,6,0.0,0,8,0:00,sleep,beer
6,4/5/2018 11:24:34,Drug discovery and safety,0.0,0,1,0.0,M,Fat,1994-08-17,4,0.0,100,No,09:00,Chocolate,Doing nothing
7,4/5/2018 11:25:25,CS,1.0,1,1,0.0,M,Neither,1993-09-27,5,0.0,£1,6739,2300,Chocolate,More chocolate
8,4/5/2018 11:25:25,CtS,0.0,0,1,1.0,M,Fat,1994-05-14,5,1.0,0.25,3,12,Sunshine,Friends
9,4/5/2018 11:25:36,EcN,0.0,0,1,0.0,M,Neither,1931-11-04,2,0.0,"0,25 pond",78952097,1 AM,Sun,Rain
10,4/5/2018 11:25:51,BSB,1.0,1,99,1.0,M,Slim,1993-08-19,7,0.0,0.3,5,2:00,Free time,More free time
11,4/5/2018 11:25:54,EcN,0.0,0,1,0.0,F,No Idea,1990-05-16,8,1.0,0.003,8,00:00,Good coffee,Sunshine
12,4/5/2018 11:26:10,CS,0.0,0,1,1.0,F,Slim,1995-03-30,6,0.0,1,42,23.45,Cats,Coffee
16,4/5/2018 11:26:40,Bioinformatics,0.0,0,1,0.0,F,Fat,1994-05-02,1,0.0,0.25,7,23:30,Pancakes for breakfast,No wind
18,4/5/2018 11:26:44,BA,1.0,1,1,1.0,M,Fat,1994-07-10,3,0.0,80,6,1:00,Sleep,Relax
19,4/5/2018 11:26:47,AI,1.0,1,1,1.0,F,Fat,1995-02-23,2,0.0,"0,50",34,23:30,Good sleep,Go to the gym
20,4/5/2018 11:26:54,CS,0.0,0,1,1.0,M,Neither,1994-03-24,1,0.0,1,7,I didn't,Pizza,Beer
22,4/5/2018 11:27:06,CS,1.0,0,1,1.0,M,No Idea,1995-07-12,2,0.0,£200,2,23:20,Good foodd,Lot of foodd
23,4/5/2018 11:27:06,AI,1.0,1,1,0.0,M,No Idea,1992-04-11,1,0.0,70,2,2 a.m.,sex,good food
24,4/5/2018 11:27:08,AI,0.0,0,1,0.0,F,No Idea,1993-05-11,5,0.0,",50",6,23:30,Puppies,sunshine
30,4/5/2018 11:27:14,EcN,0.0,0,1,0.0,F,Fat,1991-10-29,1,0.0,1/4,3,01:20,Good food,Lovely people
31,4/5/2018 11:27:14,CtS,0.0,0,1,1.0,M,Fat,1991-07-11,7,0.0,110,9293746289201,23:55,Sunshine,Beer
35,4/5/2018 11:27:18,21-05-1995,0.0,0,1,0.0,M,Neither,1995-05-21,7,0.0,0.25€,19,Not,Good food,No alarm
36,4/5/2018 11:27:18,CS,1.0,1,1,1.0,M,Neither,1992-11-09,1,0.0,1,9,1:00,Sun,Freedom
37,4/5/2018 11:27:18,BA,1.0,1,1,1.0,M,Fat,1995-01-01,0,0.0,0,1,1:00,Good food,Good sex
38,4/5/2018 11:27:18,AI,0.0,1,1,1.0,F,Fat,1995-10-01,5,0.0,100,2,01:00,good food,enough sleep
42,4/5/2018 11:27:20,AI,1.0,1,1,1.0,M,No Idea,1993-06-13,420,0.0,99.99,9,01:00,Fun,Relaxation
43,4/5/2018 11:27:21,AI,1.0,1,1,0.0,M,No Idea,1996-01-29,2,0.0,6,5,2am,Jezus man,Te diep
45,4/5/2018 11:27:21,AI,1.0,0,1,0.0,M,Neither,1994-05-15,5,0.0,10,32,12.4,Food,Sports
46,4/5/2018 11:27:21,BA,1.0,1,1,1.0,M,No Idea,1994-12-27,400,0.0,7,5,23:00,beer,sex
47,4/5/2018 11:27:22,BA,1.0,1,1,1.0,M,Fat,1995-10-08,400,0.0,0.25,4,23:55,Beer,Good food
48,4/5/2018 11:27:23,BA,1.0,1,1,1.0,F,Fat,1995-05-25,1,0.0,50,8,23:00,Sun,Free time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,4/5/2018 11:28:00,EC,0.0,0,1,0.0,F,Neither,1995-03-28,2,0.0,0.25,7,23:00,A,B
173,4/5/2018 11:28:00,CtS,0.0,0,1,0.0,M,Neither,1995-01-27,8,0.0,52.6,4,10.30 pm,Free cheese,Good coffee
175,4/5/2018 11:28:01,AI,1.0,0,1,1.0,M,Neither,1994-09-07,1,0.0,1,10,12,Having slept well,Getting work done
177,4/5/2018 11:28:02,CtS,1.0,1,1,1.0,M,Neither,1996-10-25,1,0.0,101,4,3:20,Pizza,Seeing you *kiss*
178,4/5/2018 11:28:02,AI,1.0,1,1,1.0,M,Neither,1994-11-02,7,0.0,1,3,03:00,Beer,Exercise
179,4/5/2018 11:28:03,BA,0.0,0,1,0.0,M,No Idea,1995-08-15,2,0.0,101,2,23:15,Holiday,Food
180,4/5/2018 11:28:03,QRM,0.0,0,1,0.0,M,Neither,1996-12-09,1,0.0,"£0,5",9,01:30,No time series assignment,.
181,4/5/2018 11:28:03,CS,0.0,1,1,0.0,M,Fat,1992-11-08,2,0.0,1,8,1,good food,new experiences
183,4/5/2018 11:28:04,BSB,1.0,0,1,0.0,F,No Idea,1993-06-13,4,0.0,5,3,2:00,Not having to get up early,sushi
185,4/5/2018 11:28:05,AI,0.0,0,1,0.0,M,Neither,1993-12-02,3,0.0,3,7,2 AM,No alarm in the morning,Good and sunny weather
187,4/5/2018 11:28:08,PhD,0.0,0,1,0.0,M,Neither,1995-01-03,2,0.0,0.25,7,23:30,Nice food,Good sleep
189,4/5/2018 11:28:09,BA,1.0,0,1,0.0,M,Fat,1992-07-07,3,0.0,5,4,1:30,Sleep,Sports
190,4/5/2018 11:28:10,CS,0.0,1,1,1.0,M,No Idea,1995-02-04,6,0.0,100/n,9,12,Cloudy skies,Memes
192,4/5/2018 11:28:12,BA,1.0,0,1,0.0,M,Fat,1994-01-09,3,1.0,200,1,00:00,Food,No college
193,4/5/2018 11:28:14,BA,1.0,1,1,1.0,F,Fat,1995-02-23,5,0.0,30,9,23:30,Getting a good grade,Sleep well
195,4/5/2018 11:28:15,CtS,1.0,0,1,0.0,M,No Idea,1993-07-06,4,1.0,"0,33",42,23:15,No lecture at 9,No lectures
197,4/5/2018 11:28:18,BA,1.0,0,1,1.0,F,Neither,1993-03-19,4,0.0,100/300,9,00:00,Good sleep,Free time
199,4/5/2018 11:28:20,Mth,0.0,0,1,0.0,F,No Idea,1996-09-24,7,0.0,5,7,23:00,A good sleep,Be around nice people
200,4/5/2018 11:28:18,BSB,0.0,0,1,1.0,M,No Idea,1996-05-02,7,0.0,3,3,12,Good night rest,No compile errors on first try
201,4/5/2018 11:28:21,OR,0.0,0,1,0.0,M,Neither,1995-01-01,3,0.0,10,ACHT,0,Sports,Chocolate
203,4/5/2018 11:28:25,BSB,0.0,0,1,0.0,M,Fat,1993-11-26,1,0.0,5,382763,23,Good sleep,Cheese
204,4/5/2018 11:28:26,AI,1.0,0,1,1.0,M,Fat,1994-08-18,1,0.0,20,7,23:00,Coffee,Music
205,4/5/2018 11:28:29,AI,0.0,0,1,0.0,M,Fat,1990-12-30,5,0.0,50,6,3am,Good sleep,Sports
208,4/5/2018 11:28:42,CtS,0.0,0,0,0.0,M,Slim,1991-12-25,7,0.0,0.34,7,02:00,Temptation Island,Sun
210,4/5/2018 11:29:04,BSB,1.0,0,1,0.0,F,Neither,1993-10-24,1,0.0,£.25,5,1:05,A good book,Nice people
211,4/5/2018 11:29:27,AI,1.0,1,1,1.0,M,No Idea,1993-09-02,6,0.0,50,9,3 3,Hanging out,Sex
213,4/5/2018 11:38:01,EcN,0.0,0,1,0.0,M,Fat,1991-11-22,3,0.0,2,2,2 am,Freedom,Money
215,4/5/2018 13:15:17,AI,1.0,1,1,0.0,M,Fat,1992-07-30,8,0.0,11,2,04:00,The foresight of a night out with friends,The taste of that first sip of cold beer on a ...
216,4/5/2018 15:09:53,PhS,0.0,1,1,0.0,M,Neither,1991-04-12,5,0.0,about 0.4£ for N=250,10,01:30,Good company,Well rested and structured
217,4/5/2018 18:04:54,BA,1.0,1,1,1.0,M,Fat,1994-07-10,3,0.0,80,6,1:00,Sleep,Relax

### Categorize Neighbours

Categories: [0-10] [10-20] [>20]

In [623]:
#convert all input to integers
df['Neighbours'].replace(['a lot', 'Either 4 or 8, depends on how you count. Also 1 under and above me.', '>300', 'A lot '], ['99', '99', '99', '99'] , inplace = True)
df['Neighbours'].replace(['6.5', '4/8', '>300', 'A lot'], ['7', '1', '99', '99'] , inplace = True)
#convert to str to int
df['Neighbours'] = df['Neighbours'].astype(str).astype(int)

In [624]:
df[(df.Neighbours >15) & (df.Neighbours <= 30)]
#df['Neighbours'].value_counts(dropna=False)

,Timestamp,Programme,MachineLearning,InformationRetrieval,Statistics,Databases,Gender,Chocolate,Birthday,Neighbours,StandUp,Competition,Number,BedTime,GoodDay1,GoodDay2
98,4/5/2018 11:27:37,BSB,0.0,0,1,1.0,M,Slim,1990-05-02,25,0.0,100,5,2,Music,Challenge
130,4/5/2018 11:27:45,AI,1.0,1,0,0.0,M,Fat,1981-03-14,20,0.0,100,1,00:30,Get some good sleep,Get satisfaction at work
165,4/5/2018 11:27:58,EcN,1.0,1,1,1.0,M,Fat,1990-05-11,24,0.0,5,8,1 AM,Sex,Asian food

In [625]:
#categorize input
mask1 = df.Neighbours <= 15
column_name1 = 'Neighbours'
df.loc[mask1, 'Neighbours'] = 10

#tweede categorie werkt nog niet helemaal
#mask2 = df.Neighbours[(df.Neighbours > 15) & (df.Neighbours <= 30)]
#column_name1 = 'Neighbours'
#df.loc[mask2, 'Neighbours'] = 20

mask3 = df.Neighbours > 30
column_name1 = 'Neighbours'
df.loc[mask3, 'Neighbours'] = 100

df['Neighbours'].value_counts(dropna=False)

#check datatype of specific column ('O' = object)
#df['Neighbours'].dtype

KeyError: '[25] not in index'